body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  height: 500px;
  min-height: 500px;
  line-height: 30px;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}


@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");